* {
	margin: 0;
	padding: 0;
	font-family: "Inter";
}

hr {
	display: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.headercontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 30px;
}

header {
	height: 250px;
	background-color: hsl(225, 100%, 98%);
}

#info {
	display: flex;
	flex-direction: column;
}

#dark-mode {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#dark-mode-text {
	color: rgb(116, 110, 155);
	font-weight: 700;
	margin-right: 10px;
}

#followers-grid div {
	aspect-ratio: 1;
}

#followers-grid {
	height: max-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 1.5rem;
	grid-row-gap: 1.5rem;
}

.followers-sm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: hsl(227, 47%, 96%);
	border-radius: 3%;
}

.followers-amount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.handle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: darkgrey;
	font-weight: 600;
}

.handle span {
	padding-left: 4px;
}
.handle img {
	padding-right: 4px;
}

.followers-number {
	font-size: 50px;
	font-weight: 700;
}

.followers-word {
	text-transform: uppercase;
	color: darkgrey;
	font-size: 11px;
	letter-spacing: 0.3em;
}

.followers-growth {
	font-size: 12px;
	color: darkgrey;
	font-weight: 700;
}

.grid-container1 {
	margin-top: -8%;
}

.facebook {
	border-top: 4px solid hsl(208, 92%, 53%);
}

.twitter {
	border-top: 4px solid hsl(203, 89%, 53%);
}

.youtube {
	border-top: 4px solid hsl(348, 97%, 39%);
}

#statistics-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1.5rem;
	grid-row-gap: 1.5rem;
}

@media only screen and (max-width: 1000px) {
	#statistics-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 800px) {
	#statistics-grid,
	#followers-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 600px) {
	#statistics-grid,
	#followers-grid {
		grid-template-columns: repeat(1, 1fr);
	}
	.headercontainer {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	#dark-mode {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 10px;
	}
	hr {
		margin-top: 20px;
		display: inline;
	}
}

#statistics-grid div {
	aspect-ratio: 2;
}

.statistic {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-content: end;
	background-color: hsl(227, 47%, 96%);
	border-radius: 3%;
	padding: 10px 30px;
}

.top-left {
	font-size: 13px;
	color: rgb(129, 129, 129);
	font-weight: 700;
}

.bottom-left {
	font-size: 26px;
	font-weight: 700;
}

.top-right {
	margin: 0 auto;
	margin-right: 0px;
}

.bottom-right {
	font-size: 12px;
	color: darkgrey;
	font-weight: 700;
}

.container > h3 {
	margin-top: 35px;
	color: rgb(116, 110, 155);
}

.grid-container2 {
	margin-top: 20px;
}

.bottom-right {
	text-align: end;
}

.negative {
	color: red;
}



.arrow {
	
}

.up {
	border: solid darkgrey;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
	margin: 0 5px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	border: solid red;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
	margin: 0 5px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #a8a8a8;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after {
	content: "OFF";
	color: white;
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
	content: "ON";
}

/*--------- END --------*/

body.dark {
	background-color: hsl(230, 18%, 13%);
}

body.dark h3 {
	color: white;
}

body.dark h2 {
	color: white;
}

body.dark #followers {
	color: rgb(116, 110, 155);
}

body.dark .statistic {
	background-color: hsl(228, 28%, 20%);
}

body.dark .followers-sm {
	background-color: hsl(228, 28%, 20%);
}

body.dark .followers-number {
	color: white;
}

body.dark .bottom-left {
	color: white;
}

body.dark .handle {
	color: hsl(228, 34%, 66%);
}

body.dark .followers-word {
	color: hsl(228, 34%, 66%);
}

body.dark .top-left {
	color: hsl(228, 34%, 66%);
}

body.dark header {
	background-color: hsl(232, 19%, 15%);
}

.instagram-border-wrap {
	background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	border-radius: 4%;
	padding-top: 4px;
  }

